body{
    font-family: 'DotGothic16', sans-serif;
}

.container{
    text-align: center;
}

h1{
    text-align: center;
    padding: 64px 0px;
}
.cal{
    display: flex;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
}

.ope{
    padding: 0px 32px;
}

button{
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #abb9ff;
    color: #fff;
    padding: 8px 24px;
    margin-top: 80px;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
}
button:hover{
    background: #939fdb;
    color: #d9d9d9;
}
button:focus{
    outline: none;
}